$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";
@import 'sass-bootstrap/lib/bootstrap';




.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
}

p {
  font-size: 16px;
  line-height: 200%;
}

h4 {
  font-size: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 20px;
    font-size: 18px;
    background-color: #9AB270;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    background: #9AB270;
}

.jumbotron .btn {
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 0 0 0 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1360px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
        min-height: 550px;

    }
}

.navbar {
  background: #FFF;
  border: none;
  border-radius: 0;

}

.navbar-inner {
  min-height: 60px;
}

.navbar-brand {
  font-size: 26px;
  padding-top: 20px;
  color: #CC333F;
}

.navbar .nav >li >a {
  padding: 30px 10px 30px 50px;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
  color: #666;
}

.nav .open > a .caret, .nav .open > a:hover .caret, .nav .open > a:focus .caret {
  border-top-color: #666;
  border-bottom-color: #666;
}
.nav .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}
.navbar-right a, .navbar-right span{
  font-size: 14px;
  color: #999;

}

.navbar-right li.active {
  color: #666;
}

.navbar .container {

}

.intro {
  font-size: 70px;
}


.jumbotron p.main-banner {
  font-size: 70px;
  color: #fff;
}
.jumbotron p.sub-banner {
  font-size: 30px;
  color: #fff;
  padding-bottom: 40px;
}

.jumbotron .container {
  margin-top: 60px;
}
.btn-block {
  padding: 0px;
}

.btn-success {
  color: #F38630;
  background-color: #F2F2F2;
  font-size: 30px;
  border: none;
}
.btn-success:hover {
  color: #FA6900;
  background-color: #F2F2F2;
  font-size: 30px;
  border: none;
}
.title {
  font-size: 40px;
  text-align: center;
  color: #666;
  padding-bottom: 40px;
}
.why-section {
  background: #efefef;
  padding-top: 40px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  min-height: 700px;
}
.how-section {
  background: #E0E4CC;
  min-height: 550px;
}


.headroom {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  transition: transform 300ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.section {
  background: #F8F8F8;
  padding-top: 40px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  min-height: 700px;
  padding-bottom: 100px;
}
.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}
.private-services > li , .vcard-username, .vcard-email {
  padding-bottom: 20px;
  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 20px;
  width: 230px;
}
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand {
  color: #F38630;

}

.navbar-brand:hover {
  color: #FA6900;
}
.line {
  padding-top: 20px;
}
.wave {
  padding-top:54px;
}

.col-xs-5, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10{
  padding-left: 0px;
  padding-right: 0px;

}

.service-tab {
  padding-left: 20px;
  min-height: 600px;
}
.form-container {
  margin-top: 100px;
  padding-bottom: 100px;
}

.with-margin {
  margin-top: 100px;
}
.navbar-right a {
  text-align: right;
  padding-right: 0;
}
a:hover, a:focus {
  text-decoration: none;
}
.navbar-collapse, .collapse {
  padding-left: 0;
  padding-right: 0;
}

html, body {
  height: 100%;
}

#content-wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  // padding-top: 20px;
  // padding-bottom: 40px;
}

ul ul, ol ul {
  list-style-type: none;
}

#footer {
  height: 60px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.avatar {
  border-radius: 6px;
}
.navbar {
  margin-bottom: 0;
}
.console {
  min-height: 600px;
  background-color: #000;
  color: #fff;
}
.console p {
  font-size: 14px;
}

.job {
  min-height: 280px;
}
.result {
  min-height: 300px;
}
.scroller {
  height: 600px;
  width: 100%;
  overflow-y: hidden;
  position: relative;
}
// .panel-default {
//   min-height: 350px;
// }

// .panel-mini {
//   max-height: 170px;
// }
.services {
  min-height: 600px;
}
.settings {
  min-height: 600px;
}
.list-group {
  border: none;
}
.form {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.panel-default > .panel-heading {
  color: #666;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-title {
  font-size: 18px;
}

.panel-default > .console-heading {
  background-color: #9AB270;
  border: none;
}
.navbar-right a {
  text-align: left;
  padding-right: 0;
}

.owner {
  color: #F38630;
}
.normal {
  color: #6A4A3C;
}
.admin {
  color: #9AB270;
}
.guest {
  color: #999;
}
.help-block {
  font-size: 14px;
}
a {
  color: #F38630;
  text-decoration: none;
}

a:hover, a:focus {
  color: #E15E32;
  text-decoration: none;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: white;
  background-color: #789048;
  border: none;
}
.btn-primary {
  color: white;
  background-color: #9AB270;
  border: none;
}
.btn-warning {
  border: none;
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
  background-color: #F38630;
  border-color: #F38630;
}



.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #9AB270;
  border-color: #9AB270;
}

.modal-dialog {
  width: 900px;
}

.timepicker-form {
  width: 100%;
}

.box {
  height: 200px;
  width: 200px;
  background-color: #9AB270;
  border-radius: 5px;
  line-height:200px;
  text-align: center;
  font-size: 30px;
  color: white;

}


.private-box {
  background-color: #F38630;

}
.box:hover {
  background-color: #789048;

}

.private-box:hover {
  background-color: #E15E32;

}
.new-box {
  background-color: #aeaeae;
}

.new-box:hover{
  background-color: #949494;
}



.list {
  list-style: none outside none;
  margin: 10px 0 30px;
}

.item {
  width: 200px;
  padding: 8px 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #9AB270;
  color: white;

  font-size: 18px;
  text-align: center;
  cursor: move;
}
.item:hover {
  background-color: #F38630;
  
}
.hovercolor {
  background-color: #F38630;
}
.operations {
  padding: 8px 10px;
  margin: 5px 0;
  display:inline-block;
  width: 200px;

}

.floatleft {
  float: left;
}

.operation-large {
  width: auto;

}
