<div style="padding-top:80px;">
  <div class="panel panel-default console">
    <div class="panel-heading console-heading">
      <div class="container" style="padding-right:0px;padding-left:0px;">

        <div class="btn-group dropdown">
          <button type="button" class="btn btn-lg btn-default dropdown-toggle"data-toggle="dropdown">{{serviceContext}}
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" role="menu">
            <div ng-repeat="service in services" class="list-group" style="margin:0px;">
              <a style="border-left:none; border-right:none;border-top:none;border-radius:0"class="list-group-item"href="javascript:void(0);"ng-click="consume(service.name)">{{service.name}}
              </a>
            </div>
          </div>
        </div>
        <a href="javascript:void(0);" ng-click="stopEvents()" class="pull-right" style="padding-top:10px;padding-right:0px;color:#fff;font-size: 20px;">
          PAUSE<span class="glyphicon glyphicon-pause" style="padding-left:10px;"></span>
        </a>
      </div>
    </div>
    <perfect-scrollbar class="panel-body scroller" wheel-propagation="true" wheel-speed="50" refresh-on-change="msg">
      <div ng-repeat="m in msg">
        <p>{{m[0].event_time | date:'yyyy-MM-dd HH:mm:ss'}} <span style="color:#B58900">page_view </span>{{m[0].page_view}} <span style="color:#258CCD">idc</span> {{m[0].idc}}</p>
      </div>
    </perfect-scrollbar>
  </div>
</div>