<div class="section">
  <div class="container form-container">

    <div class="panel panel-default col-md-8 col-md-offset-1">
      <div class="panel-heading">
        <h3 class="panel-title"ng-model="job.label">{{job.label}}</h3>
      </div>
      <div class="panel-body">
        <form name="jobForm" class="form" role="form" novalidate ng-submit="job_create()">
          <div class="form-group disabled">

            <label>Item:</label>
            <select ng-disabled="job.demo" class="form-control" name="item" ng-change="change_calc()" ng-model="job.item" ng-options="i.name for i in items" required></select>
            </br>
          </div>
          <div class="form-group disabled">

            <label>Calculation:</label>
            <select ng-disabled="job.demo" class="form-control" name="calc" ng-model="job.calc" ng-options="c.name for c in calcs" required></select>
            </br>
          </div>
          <div class="form-group disabled">

            <label>Tags:</label>
            <input type="text" ng-disabled="job.demo" class="form-control" ng-model="search" placeholder="Filter">
            <div ng-repeat="tag in tags | filter:search">
              <input ng-disabled="job.demo" type="checkbox" ng-model="ids[tag.id]"/>{{ tag.name }} ( {{ tag.description }} )
            </div>
          </div>
          <div class="form-group disabled">
            <button class="btn btn-primary" ng-disabled="jobForm.$invalid || require()"type="submit">Create job</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>