<div style="padding-top:80px;">
  <div class="panel panel-default" style="min-height:900px;background-color:#f8f8f8;">
    <div class="panel-heading console-heading">
      <div class="container" style="padding-right:0px;padding-left:0px;">

        <div class="btn-group dropdown">
          <button type="button" style="color:#777;border:none;"class="btn btn-lg btn-default dropdown-toggle"data-toggle="dropdown">{{serviceContext}}
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" role="menu">
            <div ng-repeat="service in services" class="list-group" style="margin:0px;">
              <a style="border-left:none; border-right:none;border-top:none;border-radius:0"class="list-group-item"href="javascript:void(0);"ng-click="showCharts(service.name, service.flows)">{{service.name}}
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="panel-body" ng-if="show">
      <form class="form-inline container" role="form" style="padding-top: 20px;">
        <div ng-if="huabei" class="form-group col-md-2">
          <input type="radio" ng-model="area" value="huabei" ng-click="showAreaCharts(serviceContext, 'huabei')">
          <span style="padding-left: 5px;font-size:16px;">华北</span><br/>
        </div>
        <div ng-if="huadong" class="form-group">
          <input type="radio" ng-model="area" value="huadong" ng-click="showAreaCharts(serviceContext, 'huadong')">
          <span style="padding-left: 5px;font-size:16px;">华东</span></br> 
        </div>
      </form>


      <div class="container" style="background: #F8F8F8;padding-top:100px;padding-bottom: 100px;">
        <hi-chart val="data" product="{{orgname}}" service="{{serviceContext}}" class="span10"></hi-chart>
      </div>

      <div class="container">
        <div ng-repeat="job in jobs | filter:search" ng-controller="OrgStaticChartController" ng-init='initConfig(chartConfig, orgname, serviceContext, job, area)'>
          <highchart id="chart1" config="config" class="span10"></highchart>
        </div>
      </div>

    </div>
  </div>
</div>