<div class="section" ng-init="init()">
  <div class="dropdown"style="padding-top:60px;">
    <a href="#" class="btn btn-warning btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
    Services<span class="caret"></span>
    </a>

    <ul class="dropdown-menu" role="menu">
      <div ng-repeat="service in services">
      <li role="presentation">
        <a  role="menuitem" tabindex="-1"href="javascript:void(0);"ng-click="showCharts(service.name)"><span>{{service.name}}</span>
        </a>
      </li>
    </div>
    </ul>
  </div>
  <div class="container form-container">
    <div style="background: #F8F8F8;padding-left:50px;padding-top:100px;padding-bottom: 100px;">
      <hi-chart val="data" product="{{orgname}}" service="{{service.name}}" class="span10"></hi-chart>
    </div>
    <div class="container">
      <div ng-repeat="job in jobs | filter:search" ng-init='initConfig(chartConfig, username, service_name, job)'>
        <highchart id="chart1" config="config" class="span10"></highchart>
      </div>
    </div>

  </div>
</div>