<div class="section" style="padding-top:80px;">
  <div class="container">
    <h1 class="page-header"><a ng-href="#/orgs/{{orgname}}">{{orgname}}</a> / {{service_name}}
      <a type="button" class="btn btn-warning pull-right" ng-click="apply(orgname, service_name)">Apply Jobs</a>
      <a type="button" style="margin-right:20px;"class="btn btn-primary pull-right" ng-click="new()">New Job</a>

    </h1>

    <div class="alert alert-danger" ng-show="jobApplyFailed">
      Failed
    </div>
    <div class="alert alert-success" ng-show="jobApplySuccess">
      {{Successfully applied}}
    </div>
    <div class="alert alert-danger" ng-show="jobRemoveFailed">
      Failed
    </div>
    <div class="alert alert-danger" ng-show="jobCreateFailed">
      Failed
    </div>
    <div class="input-group-lg">
      <input type="text" class="form-control" ng-model="search" placeholder="Search">
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Job Name</th>
            <th>Item</th>
            <th>Calculation</th>
            <th>Tags</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody ng-repeat="job in jobs | filter:search" ng-init="initJob(job)" ng-controller="OrgJobController">
          <tr>
            <td>{{job.name}}</td>
            <td>{{j.item.name}}</td>
            <td>{{j.calculation.name}}</td>
            <td>{{j.tag_names}}</td>
            <td>
              <div class="btn-group btn-group-sm">

                <button class="btn btn-danger" ng-click="destroy(job)">remove</button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div ng-controller="OrgChartController" class="col-md-offset-1" style="background: #F8F8F8;padding-left:50px;padding-top:100px;padding-bottom: 100px;">
    <hi-chart val="data" product="{{orgname}}" service="{{service_name}}" class="span10"></hi-chart>
  </div>
  <div class="container">
    <div ng-repeat="job in jobs | filter:search" ng-controller="OrgChartController" ng-init='initConfig(chartConfig, orgname, service_name, job)'>
      <highchart id="chart1" config="config" class="span10"></highchart>
    </div>
  </div>
</div>

