<div style="padding-top:80px;">
  <div class="panel panel-default"style="min-height:670px;background-color:#f8f8f8;">
    <div class="panel-heading console-heading">
      <div class="container" style="padding-right:0px;padding-left:0px;">

        <div class="btn-group dropdown">
          <button type="button" class="btn btn-lg btn-default dropdown-toggle"data-toggle="dropdown">{{serviceContext}}
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" role="menu">
            <div ng-repeat="service in services" class="list-group" style="margin:0px;">
              <a style="border-left:none; border-right:none;border-top:none;border-radius:0"class="list-group-item"href="javascript:void(0);"ng-click="showCharts(service.name)">{{service.name}}
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container panel-body" ng-if="show">
      <div style="background: #F8F8F8;padding-left:50px;padding-top:100px;padding-bottom: 100px;">
        <hi-chart val="data" product="{{orgname}}" service="{{service_name}}" class="span10"></hi-chart>
      </div>
      <div class="container">
        <div ng-repeat="job in jobs | filter:search" ng-init='initConfig(chartConfig, orgname, service_name, job)'>
          <highchart id="chart1" config="config" class="span10"></highchart>
        </div>
      </div>

    </div>
  </div>
</div>