<div class="section">
  <div class="container with-margin">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <accordion>
          <accordion-group heading="{{user.name}}" is-open="userTab.open" ng-click="orgTab.open=false;page.alerts=[]">
            <tabset vertical="true" type="pills">
              <tab heading="Access token" ng-click="userTab.active=2"></tab>
              <tab heading="Account settings" ng-show="!guest" ng-click="userTab.active=1"></tab>
              <tab heading="Tags"ng-click="userTab.active=3;tab.context='User';getUserTags()"></tab>
            </tabset>
          </accordion-group>
          <accordion-group ng-repeat="org in orgs" heading="{{org.name}}" ng-click="userTab.active=0;orgTab.open=true;userTab.open=false;tab.context=org.name;getOrgTags(org.name);page.alerts=[]">
            <tabset vertical="true" type="pills">
              <tab heading="Tags"></tab>
            </tabset>
          </accordion-group>
        </accordion>
      </div>
      <div class="col-xs-6 col-md-8 col-md-offset-1">
        <div ng-show="userTab.active==1" ng-include src="'views/v3/settings_account.html'">
        </div>


        <div ng-show="userTab.active==2" ng-include src="'views/v3/settings_token.html'">
        </div>

        <div ng-show="userTab.active==3" ng-include src="'views/v3/settings_tags.html'">
        </div>
        <div ng-show="orgTab.open" ng-include src="'views/v3/settings_tags.html'">
        </div>

      </div>
    </div>
  </div>
</div>
