<div class="section" style="padding-top:80px;">
  <div class="container">
    <h1 class="page-header"><a href="#/home">{{username}}</a> / {{service_name}}
      <a type="button" class="btn btn-warning pull-right" ng-click="apply(service_name)">Apply Jobs</a>
      <a type="button" style="margin-right:20px;"class="btn btn-primary pull-right" ng-click="new()">New Job</a>

    </h1>

    <div class="alert alert-danger" ng-show="jobApplyFailed">
      Failed
    </div>
    <div class="alert alert-success" ng-show="jobApplySuccess">
      {{Successfully applied}}
    </div>
    <div class="alert alert-danger" ng-show="jobRemoveFailed">
      Failed
    </div>
    <div class="alert alert-danger" ng-show="jobCreateFailed">
      Failed
    </div>

    <div class="input-group-lg">
      <input type="text" class="form-control" ng-model="search" placeholder="Search">
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Job Name</th>
          <th>Item</th>
          <th>Calculation</th>
          <th>Tags</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody ng-repeat="job in jobs | filter:search" ng-init="initJob(job)">
        <tr>
          <td>{{job.name}}</td>
          <td>{{item.name}}</td>
          <td>{{calculation.name}}</td>
          <td>{{tag_names}}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <button class="btn btn-default">remove</button>
              <!--
              <button class="btn btn-danger" ng-click="destroy(job)">remove</button>
              -->
            </div>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    <a type="button" class="btn btn-primary" ng-click="new()">New Job</a>
    <!-- <a type="button" class="btn btn-default">Apply Jobs</a> -->

    <a type="button" class="btn btn-warning" ng-click="apply(product,service)">Apply Jobs</a>
  </div>

  <div ng-controller="UserChartController"  class="col-md-offset-1" style="background: #F8F8F8;padding-left:50px;padding-top:100px;padding-bottom: 100px;">
    <hi-chart val="data" product="{{username}}" service="{{service_name}}" class="span10"></hi-chart>
  </div>
  <div class="container">
    <div ng-repeat="job in jobs | filter:search" ng-controller="UserChartController" ng-init='initConfig(chartConfig, username, service_name, job)'>
      <highchart id="chart1" config="config" class="span10"></highchart>
    </div>
  </div>
</div>

