<div class="section" style="padding-top:80px;min-height:800px;">
  <div class="container">
    <h1 class="page-header">
      <a href="#/home">{{username}}</a> / {{service_name}}
      <span style="padding-left:20px;"><a type="button" class="btn btn-danger" ng-click="deleteService(username, service_name)">Delete Service</a></span>
      <a type="button" class="btn btn-warning pull-right" ng-click="apply(service_name)">Apply Jobs</a>
      <a type="button" style="margin-right:20px;"class="btn btn-primary pull-right" ng-click="new()">New Job</a>

    </h1>

    <div class="alert alert-danger" ng-show="jobApplyFailed">
      Failed
    </div>
    <div class="alert alert-danger" ng-show="serviceDeleteFailed">
      {{serviceDeleteFailedMsg}}
    </div>
    <div class="alert alert-success" ng-show="jobApplySuccess">
      Successfully applied, please wait 20s to watch console or charts
    </div>
    <div class="alert alert-danger" ng-show="jobRemoveFailed">
      Failed
    </div>
    <div class="alert alert-danger" ng-show="jobCreateFailed">
      Failed
    </div>

    <div class="input-group-lg" style="padding-top:20px;padding-bottom:30px;">
      <input type="text" class="form-control" ng-model="search" placeholder="Search">
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Job Name</th>
          <th>Item</th>
          <th>Calculation</th>
          <th>Tags</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody ng-repeat="job in jobs | filter:search" ng-controller="UserJobController"ng-init="initJob(job)">
        <tr>
          <td>{{job.name}}</td>
          <td>{{item.name}}</td>
          <td>{{calculation.name}}</td>
          <td>{{tag_names}}</td>
          <td>
            <a ng-click="destroy(job)" href="javascript:void(0);"><span class="glyphicon glyphicon-trash" ></span></a>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>

