<h3 class="note-title"style="color: #E15E32;">我们是谁</h3>
<hr>
<p style="padding-top:30px;">我们来自百度运维部·OPED部门·九泽项目组（Aqueducts Team）。</p><br/>
<p>大规模的日志就像河流般错综复杂。九泽的意思是河流流经或流止之处，Aqueducts的意思是引水渠，把它们作为项目组的名字，寓意着：我们从日志的巨流中引一部分水用于灌溉（做有意义的统计）。</p><br/>
<p>遵循着UNIX工具思想，我们尝试构建多个服务，来满足不同类型日志的处理需求。</p>
<h3 style="padding-top:60px;color: #E15E32;">为了什么</h3>
<hr>
<p style="padding-top:30px;">我们希望我们的产品可以帮助工程师更简便的获取系统运行数据、提升问题定位的效率。我们构建的基于云的服务，能够帮助工程师从系统运行日志中发现有价值的信息，帮助DevOps及技术团队更快的定位运维问题。</p>
<h3 style="padding-top:60px;color: #E15E32;" id="contact">联系我们</h3>
<hr>
<ul style="padding-top:30px;line-height: 200%">
<li><strong>E-mail</strong>   :  aqueducts@baidu.com ; jiuze@baidu.com</li>
<li><strong>Baidu Hi group</strong> :  1427414</li>
<li><strong>Website</strong>  :  aqueducts.baidu.com</li>
<li><strong>Wiki</strong>     :  wiki.aqueducts.baidu.com/Aqueducts</li>
</ul>
