<nav-bar></nav-bar>
<div class="row">
  <h1 class="page-header">{{product.name}} / {{service.name}}</h1>
  <div class="input-group-lg">
    <input type="text" class="form-control" ng-model="search" placeholder="Search">
  </div>
  <div ng-repeat="item in items | filter:search" ng-controller="itemController" ng-init='initCalcs(item)'>
    <div ng-repeat="calc in calcs" ng-controller="chartController" ng-init='initConfig(chartConfig, product, service, item, calc)'>
      <highchart id="chart1" config="config" class="span10"></highchart>
    </div>
  </div>
</div>
<div class="row">
</div>
