<div class="section">
  <div class="container form-container">

    <div class="panel panel-default col-md-8 col-md-offset-1">
      <div class="panel-heading">
        <h3 class="panel-title">Forgot password</h3>
      </div>
      <div class="panel-body">

        <form class="form" name="forgotPasswordForm" novalidate ng-submit="forgotPassword(user.email)">


          <div class="form-group" ng-class="{'has-error': forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$dirty, 'has-success' : forgotPasswordForm.email.$vaild && forgotPasswordForm.email.$dirty}">
            <label for="" class="control-label">Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email" required cu-focus />
            <p class="help-block" ng-show="forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$dirty && !forgotPasswordForm.email.$focused">
              Invalid email
            </p>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit" ng-disabled="joinForm.$invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 