<div class="modal-header">
    <h3 ng-hide="newService">Edit Service</h3>
    <h3 ng-show="newService">New Service</h3>
</div>
<form>
<fieldset>
<div class="modal-body">
  <label>Name:</label>
  <input type='text' class="form-control" ng-model="service.name"/><br/>
  <label>Items:</label>
  <input type="text" class="form-control" ng-model="search" placeholder="Filter">
  <div ng-repeat="item in items | filter:search">
	  <input type="checkbox" ng-checked="check(item)" ng-model="ids[item.id]"/>{{ item.name }}
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</fieldset>
</form>
