<nav-bar></nav-bar>
<div class="row">
  <h1 class="page-header">{{product.name}}</h1>
  <div class="input-group-lg">
    <input type="text" class="form-control" ng-model="search" placeholder="Search">
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Service Name</th>
        <th>Job Number</th>
        <th>Operate</th>
      </tr>
    </thead>
    <tbody ng-repeat="service in services | filter:search">
      <tr ng-controller="ServiceController" ng-init="initService(product, service)">
        <td><a href="#/astream/products/{{product.id}}/services/{{service.id}}/jobs">{{service.name}}</a></td>
	<td>{{job_number}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-warning" ng-click="apply(product,service)">apply jobs</button>
            <button class="btn btn-danger" ng-click="destroy(service)">remove</button>
          </div>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  <a type="button" class="btn btn-success" ng-click="edit(product, 'new')">New Service</a>
</div>

