<nav-bar></nav-bar>
<div class="row" ng-controller="JobController">
  <h1 class="page-header">{{product.name}} / {{service.name}}</h1>
  <div class="input-group-lg">
    <input type="text" class="form-control" ng-model="search" placeholder="Search">
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Job Name</th>
        <th>Item</th>
        <th>Calculation</th>
        <th>Tags</th>
        <th>Operate</th>
      </tr>
    </thead>
    <tbody ng-repeat="job in jobs | filter:search" ng-controller="JobController" ng-init="initJob(job)">
        <td><a href="#/astream/products/{{product.id}}/services/{{service.id}}/jobs/{{job.id}}">{{job.name}}</a></td>
        <td>{{item.name}}</td>
        <td>{{calculation.name}}</td>
        <td>{{tag_names}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-danger" ng-click="destroy(job)">remove</button>
          </div>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  <a type="button" class="btn btn-success" ng-click="new()">New Job</a>
  <a type="button" class="btn btn-warning" ng-click="apply(product,service)">Apply Jobs</a>

  <div ng-controller="ChartController">
    <hi-chart val="data" class="span10"></hi-chart>
  </div>
  <div ng-repeat="job in jobs | filter:search" ng-controller="ChartController" ng-init='initConfig(chartConfig, product, service, job)'>
    <highchart id="chart1" config="config" class="span10"></highchart>
  </div>
</div>

