<nav-bar></nav-bar>
<!-- Marketing area -->
<div class="jumbotron">
  <h1>A-stream</h1>
  <p>Aggregated Stream. 产品核心运行指标计算</p>
  <a href="#/astream/products" class="btn btn-large btn-primary">In & Enjoy</a>
  <a href="#/astream/products/1/services/100/jobs" class="btn btn-large btn-success">Demo[ASP]</a>
</div>

<!--
<div class="jumbotron">
  <h1>D-trace</h1>
  <p >Distributed Trace. 分布式系统的性能问题定位</p>
  <div class="btn btn-large btn-default">8月份敬请期待</div>
</div>
-->

<div dashboard="dashboardOptions"></div>
