<!-- Marketing area -->
<div class="marketing jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-8 col-md-6 no-padding">
        <p class="main-banner">Trace your application</p>
      </div>
      <div class="col-xs-6 col-md-4 no-padding line"><img src="/images/line.svg"></div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-5 no-padding">
        <p class="sub-banner">Full-stack application<br/>tracing service</p>
        <p><a href="#/join" class="btn btn-success btn-lg btn-block">Start D-Tracing</a></p>
      </div>
      <div class="col-xs-6 col-md-4 col-md-offset-1 no-padding wave"><img src="/images/wave.svg"></div>
    </div>
  </div>
</div>
<div class="why-section">
  <p class="title">Why D-Trace</p>
  <div class="container" style="padding-top:60px;">
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        <img style="padding-left:80px;"src="/images/timer.svg">
        <h3 style="padding-top:35px;font-size:30px;">Realtime Tracing</h3>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-offset-1">
        <img style="padding-left:35px;"src="/images/chart.svg">
        <h3 style="padding-top:35px; font-size: 30px;">App Insight</h3>

      </div>
      <div class="col-xs-6 col-sm-3 col-md-offset-1">
        <img style="padding-left:20px;"src="/images/barchart.svg">
        <h3 style="padding-top:35px; font-size: 30px;">Visualized Data</h3>

      </div>
    </div>
  </div>

</div>
<!-- <div class="how-section">
  <div class="container" >
    <p class="title" style="padding-top:50px;padding-bottom:80px;">They are -Streaming</p>
    <img style="padding-bottom:60px;"src="/images/friends.svg">
  </div>

</div>
 -->
<!-- <div class="jumbotron">
  <h1>A-stream</h1>
  <p>Aggregated Stream 实时聚合服务</p>
  <a href="#/astream/products" class="btn btn-large btn-primary">In & Enjoy</a>
  <a href="#/login" class="btn btn-large btn-primary">Login</a>

  <a href="#/astream/products/1/services/100/jobs" class="btn btn-large btn-success">Demo[ASP]</a>
</div> -->

<!--
<div class="jumbotron">
  <h1>D-trace</h1>
  <p >Distributed Trace. 分布式系统的性能问题定位</p>
  <div class="btn btn-large btn-default">8月份敬请期待</div>
</div>
-->

<!-- <div dashboard="dashboardOptions"></div> -->
