<div class="modal-header">
    <h3 ng-hide="newService">Edit Service</h3>
    <h3 ng-show="newService">New Service</h3>
</div>
<form>
<fieldset>
<div class="modal-body">
  <form class="form-horizontal" role="form">
    <div class="form-group">
        <label>Name:</label>
        <input type='text' class="form-control" ng-model="service.name"/><br/>
    </div>

    <div class='row'>
      <div class='col-md-3'>
        <div class="checkbox-inline">
          <label>
            <input type="checkbox" ng-model="service.huabei">华北机房
          </label>
        </div>
      </div>
      <div class='col-md-4'>
       <select ng-model="service.selectFlow_huabei" ng-options="flow as flow.label for flow in flowOptions"></select>
      </div>
    </div>
   
    <div class='row'>
      <div class='col-md-3'>
        <div class="checkbox-inline">
          <label>
            <input type="checkbox" ng-model="service.huadong">华东机房
          </label>
        </div>
      </div>
      <div class='col-md-4'>
       <select ng-model="service.selectFlow_huadong" ng-options="flow as flow.label for flow in flowOptions"></select>
      </div>
    </div>
  

<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="jobForm.$invalid || require()" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>
</fieldset>
</form>
