<div class="modal-header">
  <h3>How to find a trace</h3>
</div>
<div class="modal-body">
  <p>So you want to find some traces, huh? You've come to the right place!</p>

  <h4>Service names</h4>
  <p>First off you have select a service to lookup by. All traces are indexed by service names.</p>
  <p>Once that is done you have three options to pick from. See notes on each below.</p>

  <h4>1. Lookups by span name</h4>
  <p>Span names are generally thrift method names or Rails endpoints. This allows you to look up traces
    that accessed a particular part of the service.</p>

  <h4>2. Lookups by annotation</h4>
  <p>An annotation is a point in time in the trace. It is assigned a string value, this is what you can look up
    by in this field. Could be things like <strong>finagle.timeout</strong></p>

  <h4>3. Lookups by key/value</h4>
  <p>Key / value annotations are just extra metadata attached to a trace. This could be things like the url hit,
    response codes or exceptions. See below for a few examples.</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td><strong>Key</strong></td><td><strong>Value</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>tfe.uri</td><td>/1/trends/available.json?lang=en</td>
      </tr>
      <tr>
        <td>http.responsecode</td><td>500 Internal Server Error</td>
      </tr>
    </tbody>
  </table>

  <h4>Dates and limits</h4>
  <p>Zipkin allows you to pick a point in time to help us guide the selection of traces. When doing a lookup
    we return traces before that point in time up until the limit number of results.</p>
</div>
