<div class="section" style="padding-top: 100px;">
  <div class="container">

    <!-- trace controls begin -->
    <div id='trace-controls' class='row well well-sm'>
      <ul class='nav nav-pills'>
        <li class=''><a href='#'><strong>Duration:</strong> <span class='badge'>{{duration}}</span></a></li>
        <li class=''><a href='#'><strong>Services:</strong> <span class='badge'>{{servicesNumber}}</span></a></li>
        <li class=''><a href='#'><strong>Depth:</strong> <span class='badge'>{{depth}}</span></a></li>
        <li class=''><a href='#'><strong>Total Spans:</strong> <span class='badge'>{{totalSpans}}</span></a></li>
      </ul>

      <!-- trace form begin -->
      <form class='form-inline' role='form'>
        <div class='btn-group btn-group-sm' id='filterAllServices'>
          <button type='button' class='btn btn-default' value='uiExpandAllSpans'>Expand All</button>
          <button type='button' class='btn btn-default' value='uiCollapseAllSpans'>Collapse All</button>
          <script type="text/javascript">
            $('.btn-default').click(function () {
              var button = $(this);
              if (button.attr('value') === 'uiExpandAllSpans') {
                $('.btn-default.active').toggleClass('active');
                button.toggleClass('active');

                $('.service-filter-label').each(function () {
                  $(this).addClass('service-tag-filtered');
                });

                $('.service-span').each(function () {
                  $(this).addClass('highlight');
                });
              } else {
                $('.btn-default.active').toggleClass('active');
                button.toggleClass('active');

                $('.service-filter-label').each(function () {
                  $(this).removeClass('service-tag-filtered');
                });

                $('.service-span').each(function () {
                  $(this).removeClass('highlight');
                });
              }
            });
          </script>
        </div>
        <select data-placeholder='Filter Service Search' class='form-control input-sm' name='serviceFilterSearch' id='serviceFilterSearch'>
          <option value=''></option>
          <option value="{{service.name}}" ng-repeat="service in serviceCounts">{{service.name}}</option>
        </select>
        <script type="text/javascript">
        $('#serviceFilterSearch').on('change', function () {
          var value = $(this).val();

          $('.service-filter-label').each(function () {
            var self = $(this);
            if (self.attr('data-service-name') === value) {
              self.addClass('service-tag-filtered');
            } else{
              self.removeClass('service-tag-filtered');
            };
          });

          $('.service-span').each(function () {
            var self = $(this);

            if (self.attr('data-service-names') === value) {
              self.addClass('highlight');
            } else{
              self.removeClass('highlight');
            };
          });
        });
        </script>
        <div class='btn-group btn-group-sm'>

          <button type='button' class='btn btn-primary' ng-click="openOrClose('open')" ng-class="{active: show.openAll}">Open all</button>
          <button type='button' class='btn btn-primary' ng-click="openOrClose('close')" ng-class="{active: !show.openAll}">Close all</button>
        </div>
      </form>
      <!-- trace form end -->

      <div class='trace-details'>
        <span ng-repeat="service in serviceCounts" class='label label-default service-filter-label' data-service-name='{{service.name}}' finish-render-service-counts>{{service.name}} x{{service.count}}</span>
      </div>
    </div>
    <!-- trace controls end -->
    <div class="row" style="padding-bottom: 20px;">
      <span class="label label-primary" style="margin-right:20px;font-size:14px;font-weight:normal"popover-placement="top" popover="qid" popover-trigger="mouseenter">{{qid}} </span>
      <span class="label label-success"style="margin-right:20px;font-size:14px;font-weight:normal"popover-placement="top" popover="query" popover-trigger="mouseenter">{{query}} </span>
      <span class="label label-warning"popover-placement="top" style="font-size:14px;font-weight:normal"popover="time" popover-trigger="mouseenter">{{qtime}} </span>
    </div>
    <!-- trace-container begin -->
    <div class='row' id='trace-container'>

      <div id='timeLabel' class='span'>
        <div class='handle'>Services</div>
        <div class='duration-container'>
          <div ng-repeat='tm in timeMarkers' class='time-marker time-marker-{{$index}}'>{{tm}}</div>
        </div>
      </div>

      <div
        class='span service-span depth-{{span.depthClass}}'
        data-keys='id,spanName,serviceNames,durationStr,duration'
        data-id='{{span.spanId}}'
        data-parent-id='{{span.parentId}}'
        data-span-name='{{span.spanName}}'
        data-service-names='{{span.serviceNames}}'
        data-duration-str='{{span.durationStr}}'
        data-duration='{{span.duration}}'
        data-children='{{span.children}}'
        id='{{span.spanId}}'
        ng-repeat='span in spans'
        ng-init="show.show[span.spanId]=false;"
      >
      <div ng-click="show.show[span.spanId] = !show.show[span.spanId];"
>
        <div class='handle'>
          <div class='service-name' style='margin-left: {{span.depth}}px'>
            <span class='expander'>+</span>
            {{span.serviceNames}}
          </div>
        </div>

        <div class='duration-container'>
          <div ng-repeat='tm in timeMarkers' class='time-marker time-marker-{{$index}}'>.</div>

          <div class='duration' style='left: {{span.left}}%; width: {{span.width}}%'>
            {{span.durationStr}} : {{span.spanName}}
            <div
              ng-repeat='annotation in span.annotations'
              class='annotation core'
              style='left: {{annotation.left}}%; width: {{annotation.width}}px'
              title='{{annotation.value}}'
              data-keys='endpoint,value,timestamp,relativeTime,serviceName,duration'
              data-endpoint='{{annotation.endpoint}}'
              data-value='{{annotation.value}}'
              data-timestamp='{{annotation.timestamp}}'
              data-relative-time='{{annotation.relativeTime}}'
              data-service-name='{{annotation.serviceName}}'
              data-duration='{{annotation.duration}}'
            ></div>
          </div>
        </div>
      </div>
        <div collapse="!show.show[span.spanId]">
        <!-- <div collapse="(!show.show[span.spanId])"> -->
          <!-- spanPanel begin  -->
          <div class=''style="padding-top:20px;">
            <table id='annotations' class='table table-striped'>
              <thead><tr>
                <th>Relative Time</th>
                <th>Duration</th>
                <th>Service</th>
                <th>Annotation</th>
                <th>Host</th>
              </tr></thead>
              <tbody>
                <tr ng-repeat="a in show.annos[span.spanId]">
                  <td data-key='relativeTime'>{{a.relativeTime}}</td>
                  <td data-key='duration'>{{a.duration}}</td>
                  <td data-key='serviceName'>{{a.serviceName}}</td>
                  <td data-key='value'>{{a.value}}</td>
                  <td data-key='endpoint'>{{a.endpoint}}</td>
                </tr>
              </tbody>
            </table>

            <table id='binaryAnnotations' class='table table-striped'>
              <thead><tr>
                <th>Key</th>
                <th>Value</th>
              </tr></thead>
              <tbody>
                <tr ng-repeat="ba in show.binaAnnos[span.spanId] | orderBy: 'weight':true">
                  <td class='key' data-key='key'>{{ba.key}}</td>
                  <td class='value' data-key='value'>{{ba.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- spanPanel end -->

        </div>
      </div>
    </div>
    <!-- trace-container end -->

  </div>
</div>