<div class="section">
  <div class="container with-margin">
    <div class="row">
      <div class="col-xs-6 col-md-3" style="padding-bottom:50px;">
        <a ng-href="#/"><div class="box private-box"><span style="vertical-align:middle;
">Private</span></div></a>
      </div>
      <div class="col-xs-6 col-md-3" style="padding-bottom:50px;">
        <a ng-href="#/new/org"><div class="box new-box"><div style="vertical-align:middle;"><i class="fa fa-plus fa-" style="color: white"/><span>New</span></div></div></a>
      </div>
      <div class="col-xs-6 col-md-3"ng-repeat="org in user.orgs" style="padding-bottom:50px;">
        <a ng-href="#/orgs/{{org.name}}"><div class="box"><span>{{org.name}}</span></div></a>
      </div>
    </div>
  </div>

</div>
