<div class="section" style="padding-top: 100px;">
  <div class="container">
    <!-- zipkin home page start -->
    <div class="well well-sm">
      <form class="form-inline" role="form" style="padding-bottom:10px;">
        <!-- servicename start -->
        <div class="form-group">
          <select ng-model="service"  ng-change="getSpanNames(service.name)"class="form-control input-sm" style="width: 234px;" name="serviceName" id="serviceName" ng-options="service.name for service in services">
          </select>
        </div>
        <!-- servicename end -->

        <!-- span name start -->
        <div class="form-group">
          <select ng-model="spanName" class="form-control input-sm" style="width: 180px;" name="spanName" id="spanName" ng-options="span.name for span in spanNames">
          </select>
        </div>
        <!-- span name end -->
      </form>

      <form class="form-inline" role="form" style="padding-bottom:10px;">
        <div class="form-group">
          <label for="from">from</label>
          <input id="from" class="form-control input-sm date-input1" ng-model="startDate" type="text" value='{{startDate}}'>
        </div>
        <!-- <div class="form-group timepicker-form">
          <timepicker ng-model="to" hour-step="1" minute-step="10" show-meridian="false"></timepicker>
        </div> -->
        <div class="form-group">
          <input class="form-control input-sm time-input1" ng-model="startTime" type="text" value='{{startTime}}'>
          <input class="" ng-model="startTimestamp" id="startTimestamp" name="startTimestamp" type="hidden" value="{{startTimestamp}}">
        </div>
        <div class="form-group">
          <label for="to">to</label>
          <input id="to" class="form-control input-sm date-input2" ng-model="endDate" type="text" value='{{endDate}}'>
          <script type="text/javascript">
          $('.date-input1').datepicker({format: 'mm-dd-yyyy'}).on("changeDate", function(e){
            var ms = e.date.getTime() * 1000;
            var last_timestamp = $('#startTimestamp').attr('value');
            var timestamp = (ms/1000000)*1000000 + (last_timestamp%1000000);
            $('#startTimestamp').attr('value', timestamp);
            $(this).datepicker('hide');
          });
          $('.date-input2').datepicker({format: 'mm-dd-yyyy'}).on("changeDate", function(e){
            var ms = e.date.getTime() * 1000;
            var last_timestamp = $('#endTimestamp').attr('value');
            var timestamp = (ms/1000000)*1000000 + (last_timestamp%1000000);
            $('#endTimestamp').attr('value', timestamp);
            $(this).datepicker('hide');
          });
          </script>
        </div>
        <div class="form-group">
          <input class="form-control input-sm time-input2" ng-model="endTime" type="text" value='{{endTime}}' />
          <input class="" ng-model="endTimestamp" id="endTimestamp" name="endTimestamp" type="hidden" value="{{endTimestamp}}" />

          <script type="text/javascript">
          $('.time-input1').on('change', function(e){
            var date = $('.date-input1').attr('value');
            var dateArray = date.split('-');
            var time = $('.time-input1').val();
            var timeArray = time.split(':');
            if (timeArray.length === 2) {
              var datetime = new Date(
                dateArray[2], (dateArray[0] - 1), dateArray[1],
                timeArray[0], timeArray[1]);
            } else {
              var datetime = new Date()
            }

            var ms = datetime.getTime();
            var timestamp = ms * 1000;
            $('#startTimestamp').attr('value', timestamp);
          });
          $('.time-input2').on('change', function(e){
            var date = $('.date-input2').attr('value');
            var dateArray = date.split('-');
            var time = $('.time-input2').val();
            var timeArray = time.split(':');
            if (timeArray.length === 2) {
              var datetime = new Date(
                dateArray[2], (dateArray[0] - 1), dateArray[1],
                timeArray[0], timeArray[1]);
            } else {
              var datetime = new Date()
            }

            var ms = datetime.getTime();
            var timestamp = ms * 1000;
            $('#endTimestamp').attr('value', timestamp);
          });
          </script>
        </div>          
      </form>
      <!-- <timepicker ng-model="to" hour-step="1" minute-step="10" show-meridian="false"></timepicker> -->

        <!-- timestamp end -->
      <form class="form-inline" role="form" style="margin-bottom:10px;">

        <!-- limit start -->
        <div class="form-group">
          <label for="limit">Limit</label>
          <input class="form-control input-sm" ng-model="limit" id="limit" name="limit" type="text">
        </div>
        <!-- limit end -->
        <!-- find traces start -->
        <div class="form-group">
          <button type="submit" class="btn btn-default btn-sm" ng-click="findTraces(service.name, spanName.name, startTimestamp, endTimestamp, limit, annotationQuery, currentValue)">Find Traces</button>
          <button type="button" class="btn btn-default btn-sm info-request" ng-click="openHelpModal()">
            <span class="glyphicon glyphicon-question-sign"></span>
          </button>
        </div>
        <!-- find traces end -->
      </form>
      <div style="padding-bottom:10px;">
        <!-- annotationQuery start -->
        <input type="text" ng-model="annotationQuery" class="form-control input-sm" id="annotationQuery" name="annotationQuery" style="width: 100%;" placeholder='Annotations Query (e.g. "finagle.timeout", "http.uri=/foo/bar/ and cluster=foo and cache.miss")'>
        <!-- annotationQuery end -->
      <!-- form end -->
      </div>
      <div id="trace-filters" >
        <div class="pull-left">
          <span>
            Showing:  <span class="filter-current">{{count}}</span>
            of <span class="filter-total">{{count}}</span>
          </span>
        </div>
        <div class="pull-right">
          <span class="selector">Sort:
            <select
              class="sort-order js-sort-order"
              ng-model="currentValue"
              ng-change="order(currentValue)">
              <option selected value="duration-desc">Longest First</option>
              <option value="duration-asc">Shortest First</option>
              <option value="timestamp-desc">Newest First</option>
              <option value="timestamp-asc">Oldest First</option>
            </select>
          </span>
        </div>
        <div class="clearfix"></div>

        <div class="service-tags">
          Services:
          <span class='label service-tag-filtered' data-service-name="{{service.name}}">{{service.name}}</span>
        </div>
      </div>
    </div>

    <!-- trace list start -->
    <div class="row">
      <ul id="traces">
        <li class="trace" data-traceId="{{trace.traceId}}" data-duration="{{trace.duration}}" data-timestamp="{{trace.timestamp}}" ng-repeat="trace in traces"ng-init="show.show[trace.traceId]=false;">
          <div>
            <!-- <span>{{trace.traceId}}</span>
            <span>{{sho w.query}}</span>-->
            <!-- <span>{{show.qid}}</span> -->
            <!-- <span>{{show.qtime}}</span> -->

            <span class="label label-default" style="margin-right:20px;font-size:14px;font-weight:normal">{{show.query[trace.traceId].qid || 'empty qid'}} </span>
            <span class="label label-success"style="margin-right:20px;font-size:14px;font-weight:normal">{{show.query[trace.traceId].query|| 'empty query'}} </span>
            <span class="label label-default"popover-placement="top" style="font-size:14px;font-weight:normal">{{show.query[trace.traceId].qtime || 'empty time'}} </span>
          </div>
          <div class="bar-block">
            <a href="/traces/{{trace.traceId}}?serviceName={{trace.serviceName}}" target="_blank">
            <span class="bar-graphic" style="width:{{trace.width}}%;"></span>
            <span class="bar-label"style="">{{trace.durationStr}}</span>
            <span class="bar-label" >{{trace.spanCount}} spans</span></a>
            <a ng-click="showTraceBrief(trace.traceId, trace.serviceName);" style="cursor:pointer;"><span class="pull-right"style="cursor:pointer">
            <i class="glyphicon" style="padding-left:200px;padding-right:50px;"ng-class="{'glyphicon-chevron-down': show.show[trace.traceId], 'glyphicon-chevron-right': !show.show[trace.traceId]}"></i></span></a>
          </div>
          <div class="trace-details services" style="min-height:23px">
            <span class="label label-default service-filter-label" data-service-name="{{name}}" ng-repeat="serviceCount in trace.serviceCounts">{{serviceCount.name}} x{{serviceCount.count}} </span>
          </div>
          <div class="trace-details timestamp pull-right">
            <time class="label" datetime="{{trace.startTime}}">{{trace.timeago}}</time>
          </div>
          <div collapse="!show.show[trace.traceId]">
            <!-- trace-container begin -->
            <div id='trace-container' >

              <div id='timeLabel' class='span'>
                <div class='handle no-pointer'>Services</div>
                <div class='duration-container no-pointer'>
                  <div ng-repeat='tm in show.timeMarkers[trace.traceId]' class='time-marker time-marker-{{$index}} no-pointer'>{{tm}}</div>
                </div>
              </div>

              <div
                class='span service-span depth-{{span.depthClass}} no-pointer'
                data-keys='id,spanName,serviceNames,durationStr,duration'
                data-id='{{span.spanId}}'
                data-parent-id='{{span.parentId}}'
                data-span-name='{{span.spanName}}'
                data-service-names='{{span.serviceNames}}'
                data-duration-str='{{span.durationStr}}'
                data-duration='{{span.duration}}'
                data-children='{{span.children}}'
                id='{{span.spanId}}'
                ng-repeat='span in show.spans[trace.traceId]'
                style="cursor:default;"

              >
                <div class='handle no-pointer'>
                  <div class='service-name no-pointer' style='margin-left: {{span.depth}}px'>
                    <span class='expander no-pointer' style="cursor:default">+</span>
                    {{span.serviceNames}}
                  </div>
                </div>

                <div class='duration-container'>
                  <div ng-repeat='tm in show.timeMarkers[trace.traceId]' class='time-marker time-marker-{{$index}} no-pointer'>.</div>

                  <div class='duration no-pointer' style='left: {{span.left}}%; width: {{span.width}}%'>
                    {{span.durationStr}} : {{span.spanName}}
                  </div>
                </div>

              </div>
            </div>
            <!-- trace-container end -->
          </div>
        </li>
      </ul>
    </div>
    <!-- trace list end -->

    <!-- help panel for different lookup options -->

    <!-- zipkin home page end -->
  </div>
</div>
